
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: white;
    border: 1px solid #0c0909;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], input[type="email"], input[type="number"], input[type="address"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #070606;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  